* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  background-color: #EFEFF2;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.section-title {
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
}

.accent {
  color: #FBFBFC;
  background-color: #504DEE;
}

.small-line {
  width: 254px;
  height: 4px;
  background-color: #19191C;
  margin: 21px 0 18px;
}

.hero-title-margin {
  margin: 2px 0 48px;
}

.hero-section--h6::after {
  content: '';
  display: block;
  width: 86px;
  height: 4px;
  background-color: #504DEE;
  margin: 4px 0 32px;
}

.header {
  padding: 36px 0 0 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #19191C;
  text-decoration: none;
  margin-right: 68px;
}

.header__nav {
  display: flex;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 48px;
  list-style: none;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #19191C;
  text-decoration: none;
}

.header__box {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header__btn {
  padding: 12px 37px;
  background-color: #19191C;
  color: #EFEFF2;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;
}


/* Hero-section */
.hero-section {
  padding: 167px 0 195px;
  color: #19191C;
  background: url(../img/girl.png) no-repeat 125% 100%;

}


.bg {
  position: absolute;
  bottom: -195px;
  right: 26px;
  z-index: -1;
}


.flex {
  display: flex;
  justify-content: space-between;
}

.hero-section__content {
  max-width: 646px;
  background: url(/img/elipse-1.png) no-repeat 100% 100%;
}

.hero-section__description {
  margin-bottom: 50px;
}

.button {
  padding: 16px 37px;
  background-color: #504DEE;
  color: #FBFBFC;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 110px;
  border: none;
  cursor: pointer;
}

.hero-section__date {
  display: inline-flex;
  gap: 12px;
  margin-top: 8px;
}

.hero-section__programs {
  width: 50%;
  position: relative;
}

.program-img {
  position: absolute;
  top: 84px;
  left: 120px;
}

.hero-section__item {
  list-style: none;
  padding: 16px 36px;
  border: 2px solid #19191C;
  position: absolute;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.invision {
  top: 66px;
  right: 0;
}

.protopie {
  top: 0;
  right: 220px;
}

.miro {
  top: 74px;
  left: 100px;
}

.photoshop {
  top: 256px;
  left: 60px;
}

.figma {
  bottom: 200px;
  left: -100px;
}

.illustrator {
  bottom: 30px;
  left: -60px;
}

/* Footer */
.footer {
  padding: 59px 0 62px;
  background-color: #19191C;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 146px;
  margin-bottom: 100px;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #FBFBFC;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 43px;
}

address a {
  display: block;
  color: #FBFBFC;
  font-style: normal;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.menu-item ul {
  list-style: none;
}

.menu-item ul li a {
  display: block;
  color: #EFEFF2;
  text-decoration: none;
  margin-top: 12px;
}

.footer__menu-title {
  color: #FBFBFC;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 28px;
}

/* Copyright */
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  color: #6D6D77;
}

.copyright a {
  color: #6D6D77;
  text-decoration: none;
}

/* Designer-section */
.designer {
  padding: 168px 0 0 0;
  background-color: #FBFBFC;
}

.designer__cols {
  max-width: 588px;
  margin-bottom: 168px;
}

.designer__cols p {
  color: #6D6D77;
  margin-top: 28px;
}

.cols {
  display: flex;
  gap: 103px;
}

.sal {
  color: #19191C;
}

.cols__desc {
  color: #6D6D77;
}

.designer__cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.designer__card {
  padding: 68px 50px;

}

.designer__card-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  color: #19191C;
}

.designer__card-title::after {
  content: '';
  display: block;
  width: 368px;
  height: 4px;
  background-color: #19191C;
  margin: 28px 0 12px;
}

.designer__card-description {
  color: #19191C;
}

.green-card {
  background-color: #DEEFE4;
}

.yellow-card {
  background-color: #F3F3D7;
}

.rouse-card {
  background-color: #EFDEEE;
}

.prices {
  padding: 168px 171px;
  background-color: #FBFBFC;
}

.prices__cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 100px;
}

.prices__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px;
  width: 33%;
  height: 732px;

}

.prices__card ul li {
  list-style-type: square;
  margin-bottom: 22px;
}

.card-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  color: #19191C;
  margin-bottom: 45px;
}

.card-title--accent {
  color: #FBFBFC;
}

.full-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #6D6D77;
  margin-bottom: 3px;
}

.full-price--accent {
  color: #EFEFF2;
}

button {
  padding: 16px 36px;
  background-color: #19191C;
  color: #FBFBFC;
  border: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  cursor: pointer;
  margin-top: 18px;
}

.button-accent {
  background-color: #FBFBFC;
  color: #504DEE;
}